body {
  font-family: 'Lato', sans-serif;
  background-color: #8097B7;
  margin: 20px;
  color: #333;
}

h1 {
  font-family: 'Playfair Display', serif;
  color: #570210;
  text-align: center;
  margin-bottom: 25px;
}

#malla {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  background-color: #8097B7; /* mismo que body para un fondo unificado */
  padding: 20px;
}

.semestre {
  border: 2px solid #211828;
  padding: 15px;
  width: 280px;
  background-color: #E1FDFE;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(119, 8, 14, 0.4); /* sombra rojiza */
}

.semestre h2 {
  font-family: 'Playfair Display', serif;
  color: #570210;
  text-align: center;
  margin-bottom: 12px;
  font-weight: 600;
}

.ramo {
  background-color: #49273F; /* ramos sin prereq morado oscuro */
  color: #fff;
  margin: 7px 0;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.3s ease;
}

.ramo.aprobado {
  background-color: #77080E; /* aprobado rojo oscuro */
  color: #fff;
  text-decoration: line-through;
  cursor: pointer;
}

.ramo.bloqueado {
  background-color: #706F8B; /* bloqueado morado grisáceo */
  color: #ccc;
  cursor: not-allowed;
}

.ramo:hover:not(.bloqueado):not(.aprobado) {
  background-color: #7E2625; /* hover rojo oscuro */
}
